<% if notice %>
  <div class="alert alert-success">
    <%= notice %>
  </div>
<% end %>

<h1>Listing users</h1>
<hr />
<div class="container">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Image</th>
        <th>Projects</th>
        <th>Github</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= image_tag(user.image_url, alt: "Profile image", class: "img-github", onerror: "this.onerror=null;this.src='assets/me.jpg';") if user.image_url %></td>
          <td><%= user.projects.count %></td>
          <td>
            <% if user.github %>
              <a href="https://github.com/<%= user.github %>">@<%= user.github %></a>
            <% end %>
          </td>
          <td><%= link_to 'Show', user, class: "btn btn-default" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<div class="bottom-button">
  <%= link_to 'New User', new_user_path, class: "btn btn-success" %>
  <%= link_to 'Show Projects', projects_path, class: "btn btn-default" %>
</div>
