<p id="notice"><%= notice %></p>

<h1>Profile <%= @user.username %> </h1>
<hr />
<div class="container">
  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>
  <p>
    <strong>Formation:</strong>
    <%= @user.formation %>
  </p>
  <p>
    <strong>Position:</strong>
    <%= @user.position %>
  </p>
  <% if @user.github %>
    <p>
      <strong>Github</strong>
      <a href="https://github.com/<%= @user.github %>">https://github.com/<%= @user.github %></a>
      <%= image_tag(@image, alt: "Github image", class: "img-github") if @image %>
    </p>
  <% end %>
  <p>
    <strong>Projects:</strong>
    <% @user.projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= link_to 'Show', project, class: "btn btn-default" %></td>
      </tr>
    <% end %>
  </p>
  <p><%= link_to 'New Project', new_project_path, class: "btn btn-success" %></p>
</div>
<br />
<div>
  <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-default" %> |
  <%= link_to 'Back', users_path, class: "btn btn-default" %>
</div>
