<p id="notice"><%= notice %></p>

<h1>Profile <%= @user.username %> </h1>
<hr />
<div class="container well">

  <div class="col col-md-2">
    <p>
      <%= image_tag(@user.image_url, alt: "Profile image", style: "height: 100px") if @user.image_url %>
    </p>
  </div>

  <div class="col col-md-5">
    <p>
      <strong>Name:</strong>
      <%= @user.name %>
    </p>
    <p>
      <strong>Formation:</strong>
      <%= @user.formation %>
    </p>
    <p>
      <strong>Position:</strong>
      <%= @user.position %>
    </p>
    <p>
      <strong>Website:</strong>
      <a href="/?user=<%= @user.username %>">@<%= @user.username %></a>
    </p>
    <% if @user.github %>
      <p>
        <strong>Github</strong>
        <a href="https://github.com/<%= @user.github %>">https://github.com/<%= @user.github %></a>
        <%= image_tag(@image, alt: "Github image", class: "img-github") if @image %>
      </p>
    <% end %>
  </div>

  <div class="col col-md-5">
    <p>
      <strong>Projects:</strong>
      <ul>
        <% @user.projects.each do |project| %>
          <li><%= project.name %> <%= link_to 'Show', project, class: "btn btn-default" %></li>
        <% end %>
      </ul>
    </p>
    <% if @user == current_user %>
      <p><%= link_to 'New Project', new_project_path, class: "btn btn-success" %></p>
    <% end %>
  </div>

</div>

<br />

<div class="bottom-button">
  <% if @user == current_user %>
    <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-default" %>
    <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
  <% end %>
  <%= link_to 'Back', users_path, class: "btn btn-default button-center" %>
</div>
