<html lang="en" style="overflow: hidden;">

<head>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Portfolio</title>

    <meta name="description" content="tottaly responsive personal portfolio template">
    <meta name="keywords" content="responsive, template, portfolio, html, css, javascript">
    <meta name="author" content="Ahmed Beheiry">

    <!-- Open Sans Google font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <!-- Raleway Google font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:700">
    <!-- Favicons -->
    <link rel="shortcut icon" href="assets/favico/ruby.ico">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/favico/apple-icon-60x60.png">
    <!-- Ionicon fonts css file -->
    <%= stylesheet_link_tag 'ionicons.min.css' %>
    <!-- magnific popup css file -->
    <%= stylesheet_link_tag 'magnific-popup.css' %>
    <!-- Animate.css file -->
    <%= stylesheet_link_tag 'animate.css' %>
    <!-- Owl carousel css file -->
    <%= stylesheet_link_tag 'owl.carousel.css' %>
    <!-- Custom styles css file -->
    <%= stylesheet_link_tag 'style.css' %>

    <!--[if lt IE 9]>
		     %>html5shiv.js"></script>
			<script src="js/respond.js"></script>
		<![endif]-->
</head>

<body style="overflow: hidden;">
    <!-- Start Loading page -->
    <div class="loading loaded">
        <div class="loading-wrapper">
            <div class="rec r1"></div>
            <div class="rec r2"></div>
            <div class="rec r3"></div>
            <div class="rec r4"></div>
            <div class="rec r5"></div>
        </div>
    </div>
    <!-- End Loading page -->

    <!-- Start Header Section -->
    <div class="header" id="header">
        <div id="large-header" class="large-header" style="height: 608px;">
            <canvas id="demo-canvas" width="1366" height="608"></canvas>
            <div class="content center">
                <div class="container">
                    <p>Hello, It's me</p>
                    <h1><%= @user.name %></h1>
                    <p><%= @user.formation %> - <%= @user.position %></p>
                    <%= link_to "Resume .pdf", asset_path("resume.pdf") %>
                    <a href="#portfolio">my works</a>
                </div>
                <!-- End container -->
            </div>
            <div class="mouse" id="mouse"></div>
            <!-- Mouse Icon -->
        </div>
    </div>
    <!-- End Header Section -->

    <!-- Start Side Menu -->
    <nav id="top-nav">
        <div class="logo center"><a href="#">Resume</a></div>
        <!-- LOGO -->
        <div class="menu" id="menu">
            <span class="bar b1"></span>
            <span class="bar b2"></span>
            <span class="bar b3"></span>
        </div>
        <div class="side-menu" id="side-menu">
            <!-- Menu items -->
            <a href="#header">Home</a>
            <a href="#about-me">about me</a>
            <a href="#services">services</a>
            <a href="#skills">skills</a>
            <a href="#experiences">experiences</a>
            <a href="#portfolio">Portfolio</a>
            <a href="#testmonials">testmonials</a>
            <a href="#contact-me">Contact Me</a>
        </div>
        <div class="right-menu">
          <%= link_to 'Manage Account', users_path %>
        </div>
    </nav>
    <!-- End Side Menu -->

    <!-- Start About Me Section -->
    <div class="about-me clearfix" id="about-me">
        <div class="container">
            <div class="row">
                <!-- Profile Pic -->
                <div class="my-pic center col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="0.5s" data-wow-offset="200" style="animation-duration: 0.5s; animation-name: none;">
                    <% if @user.image_url %>
                      <%= image_tag(@user.image_url, alt: "Profile image", onerror: "this.onerror=null;this.src='assets/me.jpg';") %>
                    <% else %>
                      <img src="assets/me.jpg" alt="Profile image">
                    <% end %>
                </div>
                <div class="introduction col-sm-8 col-xs-12 wow fadeInUp" data-wow-duration="0.5s" data-wow-offset="200" style="animation-duration: 0.5s; animation-name: none;">
                    <h2 class="h2"><%= @user.name %></h2>
                    <div class="heading-line"></div>
                    <p class="introduce">talented <%= @user.formation %> / <%= @user.position %></p>
                    <p class="intro">Enthusiastically reintermediate leveraged potentialities and wireless web services. Distinctively maintain ubiquitous best practices through market positioning materials. Progressively reintermediate ubiquitous channels via bricks-and-clicks
                        technology. Distinctively formulate innovative relationships and high standards.</p>
                </div>
            </div>
            <div class="row">
                <div class="profile col-sm-4 col-xs-12 wow fadeInUp text-center" data-wow-duration="0.5s" data-wow-offset="200" style="animation-duration: 0.5s; animation-name: none;">
                    <h3>personal info</h3>
                    <div class="heading-line"></div>
                    <div class="personal-wrapper">
                        <span><strong>name: </strong><%= @user.name %></span>
                        <span><strong>E-mail: </strong><%= @user.username %>@gmail.com</span>
                        <span><strong>phone number: </strong>+(31) 98554 5671</span>
                        <span><strong>website: </strong><a class="blue-link" href="https://github.com/<%= @user.github %>">www.github.com/<%= @user.github %></a></span>
                    </div>
                </div>
                <div class="why-me col-sm-8 col-xs-12 wow fadeInUp" data-wow-duration="0.5s" data-wow-offset="200" style="animation-duration: 0.5s; animation-name: none;">
                    <!-- Start Accordion -->
                    <div class="accordion">
                        <div class="acc-item">
                            <div class="acc-title"><i class="ion-android-navigate"></i> Who am i?</div>
                            <div class="acc-content">I'm a young developer interested in meeting new awesome people and also learning new technologies. Since my first code, I'm fascinated by computing, I hope my skills will be useful to other people someday.</div>
                        </div>
                        <div class="acc-item">
                            <div class="acc-title"><i class="ion-android-navigate"></i> What I'm really good at?</div>
                            <div class="acc-content">Efficiently formulate solutions using logical approach to the problems. I'm a fast learner and thinker, using my knowledge to design the best strategy ever.</div>
                        </div>
                        <div class="acc-item">
                            <div class="acc-title"><i class="ion-android-navigate"></i> How can you contact me?</div>
                            <div class="acc-content">Simply send me an email or call me on whatsapp. I'd be pleased to discuss some interesting project proposal or revolutionary idea.</div>
                        </div>
                        <div class="acc-item">
                            <div class="acc-title"><i class="ion-android-navigate"></i> What is my hobbies</div>
                            <div class="acc-content">I really like to spend time surfing on the net, being with my family inside the country. And of course, play videogames and Pokémon with my cousin and brother.</div>
                        </div>
                    </div>
                    <!-- End Accordion -->
                </div>
            </div>
        </div>
    </div>
    <!-- End About Me Section -->

    <!-- Start Fun Facts Section -->
    <div class="fun-facts center" id="facts">
        <div class="pattern"></div>
        <div class="container">
            <div class="row">
                <!-- Fact No. 1 -->
                <div class="col-md-3 col-sm-6">
                    <div class="fact">
                        <i class="ion-code-working"></i>
                        <p id="number_1" class="fact-number">0</p>
                        <span>lines of code</span>
                    </div>
                </div>
                <!-- Fact No. 2 -->
                <div class="col-md-3 col-sm-6">
                    <div class="fact">
                        <i class="ion-fork-repo"></i>
                        <p id="number_2" class="fact-number">0</p>
                        <span>projects done</span>
                    </div>
                </div>
                <!-- Fact No. 3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="fact">
                        <i class="ion-coffee"></i>
                        <p id="number_3" class="fact-number">0</p>
                        <span>cups of coffee</span>
                    </div>
                </div>
                <!-- Fact No. 4 -->
                <div class="col-md-3 col-sm-6">
                    <div class="fact">
                        <i class="ion-happy"></i>
                        <p id="number_4" class="fact-number">0</p>
                        <span>satisfied customers</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Fun Facts Section -->

    <!-- Start Services Section -->
    <div class="services center" id="services">
        <div class="container">
            <!-- Title -->
            <div class="title">
                <h2 class="h2">Here's what i'm doing</h2>
                <div class="heading-line"></div>
                <p class="main-para">Progressively reintermediate magnetic services vis-a-vis focused supply chains. Appropriately coordinate high-quality human capital without.</p>
            </div>
            <div class="row">
                <!-- Service No. 1 -->
                <div class="col-md-3 col-sm-6">
                    <div class="service">
                        <i class="ion-social-css3-outline"></i>
                        <h3>HTML5/CSS3 coding</h3>
                        <p>Simplify corporate e-services after diverse imperatives. Competently leverage existing excellent systems and seamless value.</p>
                    </div>
                </div>
                <!-- Service No. 2 -->
                <div class="col-md-3 col-sm-6">
                    <div class="service">
                        <i class="ion-code"></i>
                        <h3>development</h3>
                        <p>Simplify corporate e-services after diverse imperatives. Competently leverage existing excellent systems and seamless value.</p>
                    </div>
                </div>
                <!-- Service No. 3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="service">
                        <i class="ion-monitor"></i>
                        <h3>responsive</h3>
                        <p>Simplify corporate e-services after diverse imperatives. Competently leverage existing excellent systems and seamless value.</p>
                    </div>
                </div>
                <!-- Service No. 4 -->
                <div class="col-md-3 col-sm-6">
                    <div class="service">
                        <i class="ion-help-buoy"></i>
                        <h3>24/7 support</h3>
                        <p>Simplify corporate e-services after diverse imperatives. Competently leverage existing excellent systems and seamless value.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Services Section -->

    <!-- Start Technical Skills Section -->
    <div class="technical-skills center" id="skills">
        <div class="pattern"></div>
        <div class="container">
            <!-- Title -->
            <div class="title">
                <h2 class="h2">technical skills</h2>
                <div class="heading-line"></div>
                <p class="title">Authoritatively foster bricks-and-clicks networks rather than superior architectures. Compellingly mesh frictionless imperatives vis-a-vis emerging.</p>
            </div>
            <!-- Start main skills -->
            <div class="skills-wrapper row">
                <!-- main skill No. 1 -->
                <div class="skill col-md-3 col-sm-6">
                    <div class="chart center" data-percent="88">
                        <span><span id="chart_num_1">0</span> %</span>
                    </div>
                    <h2>Ruby on Rails</h2>
                    <h2>Django</h2>
                </div>
                <!-- main skill No. 2 -->
                <div class="skill col-md-3 col-sm-6">
                    <div class="chart center" data-percent="63">
                        <span><span id="chart_num_2">0</span> %</span>
                    </div>
                    <h2>Angular.js</h2>
                    <h2>Node.js</h2>
                </div>
                <!-- main skill No. 3 -->
                <div class="skill col-md-3 col-sm-6">
                    <div class="chart center" data-percent="73">
                        <span><span id="chart_num_3">0</span> %</span>
                    </div>
                    <h2>Objective-C</h2>
                    <h2>Mobile iOS</h2>
                </div>
                <!-- main skill No. 4 -->
                <div class="skill col-md-3 col-sm-6">
                    <div class="chart center" data-percent="45">
                        <span><span id="chart_num_4">0</span> %</span>
                    </div>
                    <h2>Deep Learning</h2>
                    <h2>AI</h2>
                </div>
            </div>
            <!-- End main skills -->
            <div class="other-skills">
                <h2 class="h2">other skills</h2>
                <div class="heading-line"></div>
                <p class="title">Distinctively implement granular e-commerce whereas business innovation. Rapidiously unleash viral niches vis-a-vis real-time catalysts.</p>
                <!-- Start other skills -->
                <div class="skills-wrapper row">
                    <!-- Skill No. 1 -->
                    <div class="bar_group col-md-6 col-xs-12 group_ident-1" data-max="100">
                        <p class="b_label">communication</p>
                        <div class=" bar_group__bar thick elastic" data-value="75" data-tooltip="true" data-label="communication" data-show-values="true" data-unit="%" style="margin-bottom: 40px;">
                            <div class="b_tooltip"><span>75</span>
                                <div class="b_tooltip--tri"></div>
                            </div>
                            <p class="bar_label_min">0 %</p>
                            <p class="bar_label_max">100 %</p>
                        </div>
                    </div>
                    <!-- Skill No. 2 -->
                    <div class="bar_group col-md-6 col-xs-12 group_ident-2" data-max="100">
                        <p class="b_label">organization</p>
                        <div class=" bar_group__bar thick elastic" data-value="85" data-tooltip="true" data-label="organization" data-show-values="true" data-unit="%" style="margin-bottom: 40px;">
                            <div class="b_tooltip"><span>85</span>
                                <div class="b_tooltip--tri"></div>
                            </div>
                            <p class="bar_label_min">0 %</p>
                            <p class="bar_label_max">100 %</p>
                        </div>
                    </div>
                    <!-- Skill No. 3 -->
                    <div class="bar_group col-md-6 col-xs-12 group_ident-3" data-max="100">
                        <p class="b_label">visual design</p>
                        <div class=" bar_group__bar thick elastic" data-value="75" data-tooltip="true" data-label="visual design" data-show-values="true" data-unit="%" style="margin-bottom: 40px;">
                            <div class="b_tooltip"><span>75</span>
                                <div class="b_tooltip--tri"></div>
                            </div>
                            <p class="bar_label_min">0 %</p>
                            <p class="bar_label_max">100 %</p>
                        </div>
                    </div>
                    <!-- Skill No. 4 -->
                    <div class="bar_group col-md-6 col-xs-12 group_ident-4" data-max="100">
                        <p class="b_label">programming</p>
                        <div class=" bar_group__bar thick elastic" data-value="85" data-tooltip="true" data-label="programming" data-show-values="true" data-unit="%" style="margin-bottom: 40px;">
                            <div class="b_tooltip"><span>85</span>
                                <div class="b_tooltip--tri"></div>
                            </div>
                            <p class="bar_label_min">0 %</p>
                            <p class="bar_label_max">100 %</p>
                        </div>
                    </div>
                    <!-- Skill No. 5 -->
                    <div class="bar_group col-md-6 col-xs-12 group_ident-5" data-max="100">
                        <p class="b_label">planning</p>
                        <div class=" bar_group__bar thick elastic" data-value="80" data-tooltip="true" data-label="planning" data-show-values="true" data-unit="%" style="margin-bottom: 40px;">
                            <div class="b_tooltip"><span>80</span>
                                <div class="b_tooltip--tri"></div>
                            </div>
                            <p class="bar_label_min">0 %</p>
                            <p class="bar_label_max">100 %</p>
                        </div>
                    </div>
                    <!-- Skill No. 6 -->
                    <div class="bar_group col-md-6 col-xs-12 group_ident-6" data-max="100">
                        <p class="b_label">learning</p>
                        <div class=" bar_group__bar thick elastic" data-value="95" data-tooltip="true" data-label="learning" data-show-values="true" data-unit="%" style="margin-bottom: 40px;">
                            <div class="b_tooltip"><span>95</span>
                                <div class="b_tooltip--tri"></div>
                            </div>
                            <p class="bar_label_min">0 %</p>
                            <p class="bar_label_max">100 %</p>
                        </div>
                    </div>
                    <!-- Skill No. 7 -->
                    <div class="bar_group col-md-6 col-xs-12 group_ident-7" data-max="100">
                        <p class="b_label">marketing</p>
                        <div class=" bar_group__bar thick elastic" data-value="55" data-tooltip="true" data-label="marketing" data-show-values="true" data-unit="%" style="margin-bottom: 40px;">
                            <div class="b_tooltip"><span>55</span>
                                <div class="b_tooltip--tri"></div>
                            </div>
                            <p class="bar_label_min">0 %</p>
                            <p class="bar_label_max">100 %</p>
                        </div>
                    </div>
                    <!-- Skill No. 8 -->
                    <div class="bar_group col-md-6 col-xs-12 group_ident-8" data-max="100">
                        <p class="b_label">ux-design</p>
                        <div class=" bar_group__bar thick elastic" data-value="60" data-tooltip="true" data-label="ux-design" data-show-values="true" data-unit="%" style="margin-bottom: 40px;">
                            <div class="b_tooltip"><span>60</span>
                                <div class="b_tooltip--tri"></div>
                            </div>
                            <p class="bar_label_min">0 %</p>
                            <p class="bar_label_max">100 %</p>
                        </div>
                    </div>
                </div>
                <!-- End other skills -->
            </div>
        </div>
    </div>
    <!-- End Technical Skills Section -->

    <!-- Start Experience Section -->
    <div class="experiences center" id="experiences">
        <div class="container">
            <!-- Title -->
            <div class="title wow fadeIn" data-wow-duration="0.5s" data-wow-offset="200" style="animation-duration: 0.5s; animation-name: none;">
                <h2 class="h2">work experiences</h2>
                <div class="heading-line"></div>
                <p class="main-para">Professionally expedite orthogonal deliverables with emerging best practices. Uniquely leverage other's robust core competencies.</p>
            </div>
            <!-- start timeline -->
            <div class="timeline wow fadeIn" data-wow-duration="0.5s" data-wow-offset="200" style="animation-duration: 0.5s; animation-name: none;">
                <!-- Event No. 1 -->
                <div class="timeline-block clearfix wow fadeInLeft" data-wow-duration="0.5s" data-wow-offset="200" style="animation-duration: 0.5s; animation-name: none;">
                    <div class="icon">
                        <i class="ion-university"></i>
                    </div>
                    <div class="content left round-corners">
                        <h3><a href="http://www.ita.br">ITA</a></h3>
                        <span class="duration">( Jan. 2013 : Dec 2017 )</span>
                        <span class="job-title"> Computer Engineer</span>
                        <p>After some years of study and dedication, participating and wining awards on national physics olimpiads, I finally started studying at ITA (institute of aeronautical technology).</p>
                    </div>
                </div>
                <!-- Event No. 2 -->
                <div class="timeline-block clearfix wow fadeInRight" data-wow-duration="0.5s" data-wow-offset="200" style="animation-duration: 0.5s; animation-name: none;">
                    <div class="icon">
                        <i class="ion-briefcase"></i>
                    </div>
                    <div class="content right round-corners">
                        <h3><a href="https://www.guichevirtual.com.br">Guichê Virtual</a></h3>
                        <span class="duration">( Jan. 2016 : Dec. 2016  )</span>
                        <span class="job-title"> Mobile developer</span>
                        <p>In the first semester, I joined the mobile team in order to create an ios app from scratch for Guichê Virtual, using xcode framework using objective-c language. </p>
                        <p>Then I decided to join the backend team. I worked with spring framework and groovy language in order to develop new features to the internal site of the company, helping the operational team.</p>
                    </div>
                </div>
                <!-- Event No. 3 -->
                <div class="timeline-block clearfix wow fadeInLeft" data-wow-duration="0.5s" data-wow-offset="200" style="animation-duration: 0.5s; animation-name: none;">
                    <div class="icon">
                        <i class="ion-briefcase"></i>
                    </div>
                    <div class="content left round-corners">
                        <h3><a href="http://quero.education">Quero Bolsa</a></h3>
                        <span class="duration">( Jan. 2017 : Jun. 2017 )</span>
                        <span class="job-title"> Full-Stack Web Developer</span>
                        <p>Internship as a full-stack web developer using Ruby on Rails framework and agile software development. Joined the content team to improve and completely refactor the team’s section on the site, using technologies such as Sidekiq, Chef recipes and Docker.</p>
                    </div>
                </div>
            </div>
            <!-- End Timeline -->
        </div>
    </div>
    <!-- End Experience Section -->

    <!-- Start Quote Section -->
    <div class="quote">
        <div class="overlay"></div>
        <div class="container">
            <div class="qoute-wrapper">
                <p class="words"><span class="quote-mark open">"</span>Even if you are on the right track, you will get run over if you just set there.<span class="quote-mark end">"</span></p>
                <p class="author">- Will Rogers -</p>
            </div>
        </div>
    </div>
    <!-- End Quote Section -->

    <!-- Start Portfolio Section -->
    <div class="portfolio center" id="portfolio">
        <div class="container">
            <!-- Title -->
            <div>
                <h2 class="h2">My awesome portfolio</h2>
                <div class="heading-line"></div>
                <p class="main-para">Collaboratively fabricate alternative quality vectors through multimedia based web services. Conveniently procrastinate cost effective.</p>
            </div>
            <!-- Mixitup controls -->
            <div class="controls">
                <button class="filter round-corners active" data-filter="all" data-content="All">All</button>
                <button class="filter round-corners" data-filter=".web" data-content="WEB">WEB</button>
                <button class="filter round-corners" data-filter=".app" data-content="APP">APP</button>
                <button class="filter round-corners" data-filter=".other" data-content="OTHER">OTHER</button>
            </div>
            <div id="Container">
              <% projects_count = @user.projects.count %>
              <% @user.projects.each_with_index do |project, i| %>
                <%= render :partial => 'project', :locals => { :project => project, :number => (i%projects_count+1) } %>
              <% end %>
            </div>
        </div>
    </div>
    <!-- End Portfolio Section -->

      <!-- Start Quote Section -->
      <div class="quote">
          <div class="overlay"></div>
          <div class="container">
              <div class="qoute-wrapper">
                  <p class="words"><span class="quote-mark open">"</span>If you believe in victory, then victory will believe in you.<span class="quote-mark end">"</span></p>
                  <p class="author">- Paulo Coelho -</p>
              </div>
          </div>
      </div>
      <!-- End Quote Section -->

    <!-- Start Testmonials Section -->
    <div class="testmonials center hidden" id="testmonials">
        <div class="overlay"></div>
        <div class="pattern"></div>
        <div class="container">
            <div class="test-owl owl-carousel owl-theme owl-responsive-0 owl-loaded">
                <!-- Clinent No.1 -->

                <!-- Clinent No.2 -->

                <!-- Clinent No.3 -->

                <!-- Clinent No.4 -->

                <!-- Clinent No.5 -->

                <div class="owl-stage-outer">
                    <div class="owl-stage" style="transform: translate3d(-8050px, 0px, 0px); transition: 0.25s; width: 10350px;">
                        <div class="owl-item cloned" style="width: 1140px; margin-right: 10px;">
                            <div class="client">
                                <h3>- Adams kidman -</h3><span><%= @user.position %></span>
                                <div class="stars">
                                    <span class="ion-android-star"></span>
                                    <span class="ion-android-star"></span>
                                    <span class="ion-android-star"></span>
                                    <span class="ion-android-star"></span>
                                    <span class="ion-android-star"></span>
                                </div>
                                <div class="opinion">
                                    <i class="ion-quote"></i>
                                    <p>Compellingly evolve future-proof total linkage via team driven information. Authoritatively maximize B2C paradigms rather than diverse channels. Dynamically pontificate B2C solutions whereas enterprise human capital.
                                        Interactively incentivize client-focused e-services.</p>
                                    <i class="ion-quote reversed"></i>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 1140px; margin-right: 10px;">
                            <div class="client">
                                <h3>- Jessie J -</h3><span>ui / ux designer</span>
                                <div class="stars">
                                    <span class="ion-android-star"></span>
                                    <span class="ion-android-star"></span>
                                    <span class="ion-android-star"></span>
                                    <span class="ion-android-star"></span>
                                </div>
                                <div class="opinion">
                                    <i class="ion-quote"></i>
                                    <p>Credibly aggregate low-risk high-yield opportunities after e-business expertise. Distinctively brand front-end sources with bricks-and-clicks supply chains. Rapidiously engineer ubiquitous e-commerce rather than virtual
                                        process.</p>
                                    <i class="ion-quote reversed"></i>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 1140px; margin-right: 10px;">
                            <div class="client">
                                <h3>- Kenny John -</h3><span>UI designer</span>
                                <div class="stars">
                                    <span class="ion-android-star"></span>
                                    <span class="ion-android-star"></span>
                                    <span class="ion-android-star"></span>
                                    <span class="ion-android-star"></span>
                                    <span class="ion-android-star-half"></span>
                                </div>
                                <div class="opinion">
                                    <i class="ion-quote"></i>
                                    <p>Professionally expedite clicks-and-mortar methods of empowerment through excellent convergence. Efficiently strategize user friendly e-commerce before technically sound interfaces. Professionally harness one-to-one
                                        outsourcing whereas future-proof.</p>
                                    <i class="ion-quote reversed"></i>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 1140px; margin-right: 10px;">
                            <div class="client">
                                <h3>- Will hans -</h3><span>Ux designer</span>
                                <div class="stars">
                                    <span class="ion-android-star"></span>
                                    <span class="ion-android-star"></span>
                                    <span class="ion-android-star"></span>
                                    <span class="ion-android-star"></span>
                                    <span class="ion-android-star-half"></span>
                                </div>
                                <div class="opinion">
                                    <i class="ion-quote"></i>
                                    <p>Assertively innovate technically sound process improvements with best-of-breed users. Seamlessly matrix dynamic processes rather than multimedia based scenarios. Seamlessly myocardinate front-end e-commerce vis-a-vis
                                        state of the art core competencies. Energistically create intermandated models.</p>
                                    <i class="ion-quote reversed"></i>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 1140px; margin-right: 10px;">
                            <div class="client">
                                <h3>- william hannah -</h3><span>visual designer</span>
                                <div class="stars">
                                    <span class="ion-android-star"></span>
                                    <span class="ion-android-star"></span>
                                    <span class="ion-android-star"></span>
                                    <span class="ion-android-star"></span>
                                </div>
                                <div class="opinion">
                                    <i class="ion-quote"></i>
                                    <p>Globally integrate resource maximizing information through economically sound results. Enthusiastically generate functionalized applications rather than quality imperatives. Monotonectally deploy integrated products.</p>
                                    <i class="ion-quote reversed"></i>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 1140px; margin-right: 10px;">
                            <div class="client">
                                <h3>- Adams kidman -</h3><span><%= @user.position %></span>
                                <div class="stars">
                                    <span class="ion-android-star"></span>
                                    <span class="ion-android-star"></span>
                                    <span class="ion-android-star"></span>
                                    <span class="ion-android-star"></span>
                                    <span class="ion-android-star"></span>
                                </div>
                                <div class="opinion">
                                    <i class="ion-quote"></i>
                                    <p>Compellingly evolve future-proof total linkage via team driven information. Authoritatively maximize B2C paradigms rather than diverse channels. Dynamically pontificate B2C solutions whereas enterprise human capital.
                                        Interactively incentivize client-focused e-services.</p>
                                    <i class="ion-quote reversed"></i>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 1140px; margin-right: 10px;">
                            <div class="client">
                                <h3>- Jessie J -</h3><span>ui / ux designer</span>
                                <div class="stars">
                                    <span class="ion-android-star"></span>
                                    <span class="ion-android-star"></span>
                                    <span class="ion-android-star"></span>
                                    <span class="ion-android-star"></span>
                                </div>
                                <div class="opinion">
                                    <i class="ion-quote"></i>
                                    <p>Credibly aggregate low-risk high-yield opportunities after e-business expertise. Distinctively brand front-end sources with bricks-and-clicks supply chains. Rapidiously engineer ubiquitous e-commerce rather than virtual
                                        process.</p>
                                    <i class="ion-quote reversed"></i>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item cloned active" style="width: 1140px; margin-right: 10px;">
                            <div class="client">
                                <h3>- Kenny John -</h3><span>UI designer</span>
                                <div class="stars">
                                    <span class="ion-android-star"></span>
                                    <span class="ion-android-star"></span>
                                    <span class="ion-android-star"></span>
                                    <span class="ion-android-star"></span>
                                    <span class="ion-android-star-half"></span>
                                </div>
                                <div class="opinion">
                                    <i class="ion-quote"></i>
                                    <p>Professionally expedite clicks-and-mortar methods of empowerment through excellent convergence. Efficiently strategize user friendly e-commerce before technically sound interfaces. Professionally harness one-to-one
                                        outsourcing whereas future-proof.</p>
                                    <i class="ion-quote reversed"></i>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 1140px; margin-right: 10px;">
                            <div class="client">
                                <h3>- Will hans -</h3><span>Ux designer</span>
                                <div class="stars">
                                    <span class="ion-android-star"></span>
                                    <span class="ion-android-star"></span>
                                    <span class="ion-android-star"></span>
                                    <span class="ion-android-star"></span>
                                    <span class="ion-android-star-half"></span>
                                </div>
                                <div class="opinion">
                                    <i class="ion-quote"></i>
                                    <p>Assertively innovate technically sound process improvements with best-of-breed users. Seamlessly matrix dynamic processes rather than multimedia based scenarios. Seamlessly myocardinate front-end e-commerce vis-a-vis
                                        state of the art core competencies. Energistically create intermandated models.</p>
                                    <i class="ion-quote reversed"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-controls">
                    <div class="owl-nav">
                        <div class="owl-prev" style="display: none;">prev</div>
                        <div class="owl-next" style="display: none;">next</div>
                    </div>
                    <div class="owl-dots" style="display: none;"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Testmonials Section -->

    <!-- Start Contact Section -->
    <div class="contact center" id="contact-me">
        <div class="container">
            <!-- Title -->
            <div class="title wow fadeInUp" data-wow-duration="0.5s" data-wow-offset="200" style="animation-duration: 0.5s; animation-name: none;">
                <h2 class="h2">Get in touch</h2>
                <div class="heading-line"></div>
                <p class="main-para">Globally empower viral services whereas mission-critical platforms. Rapidiously optimize scalable paradigms before covalent technologies.</p>
            </div>
            <div class="row form-wrapper">
                <div class="col-md-8 col-md-offset-2 wow fadeInUp" data-wow-duration="0.5s" data-wow-offset="200" style="animation-duration: 0.5s; animation-name: none;">
                    <!-- Contact-Me Form -->
                    <form data-toggle="validator" role="form" id="contact-form" novalidate="true" action="/send_email/" method="post">
                        <div class="form-group has-feedback">
                            <input type="text" name="name" id="name" class="form-control" data-error="Please, Enter Your Name." required="">
                            <label for="name">Your Name</label>
                            <span class="help-block with-errors"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="email" name="mail" id="mail" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" data-error="Your E-mail isn't correct" required="">
                            <label for="mail">Your E-mail</label>
                            <span class="help-block with-errors"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <textarea name="message" id="message" class="form-control" data-error="Please, Type Your Message" required=""></textarea>
                            <label for="message">Your Message Here</label>
                            <span class="help-block with-errors"></span>
                        </div>
                        <div class="submit-container">
                            <button type="submit" class="btn submit-btn disabled">Send Your Message</button>
                        </div>
                        <p class="form-response"></p>
                    </form>
                    <!-- End Form -->
                </div>
            </div>
            <!-- Contact Details -->
            <div class="row contact-info">
                <div class="col-md-3 col-sm-6 col-xs-12 info">
                    <i class="ion-ios-telephone center"></i>
                    <div class="info-content">
                        <h3>call me</h3>
                        <span>( +55 ) 31 98554 5671</span>
                        <span>( +55 ) 31 3426 5671</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 info">
                    <i class="ion-email center"></i>
                    <div class="info-content">
                        <h3>Send a message</h3>
                        <span><%= link_to "#{@user.username}@gmail.com", "mailto:#{@user.username}@gmail.com" %></span>
                        <span>Github: <%= link_to @user.github, "https://github.com/#{@user.github}" %></span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 info">
                    <i class="ion-android-home center"></i>
                    <div class="info-content">
                        <h3>Visit me</h3>
                        <span>São José dos Campos,</span><span>Brazil</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 info">
                    <i class="ion-ios-clock center"></i>
                    <div class="info-content">
                        <h3>Work time</h3>
                        <span>Weekday : 12.00 - 20.00 </span>
                        <span>Weekend : 12.00 - 16.00 </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Google Map -->
        <div id="map" style="position: relative; overflow: hidden;">
            <div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);">
                <div class="gm-style" style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0;">
                    <div style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0; cursor: url(&quot;https://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;) 8 8, default;">
                        <div style="position: absolute; left: 0px; top: 0px; z-index: 1; width: 100%; transform-origin: 0px 0px 0px; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <div style="position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;">
                                <div style="position: absolute; left: 0px; top: 0px; z-index: 0;">
                                    <div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;">
                                        <div style="width: 256px; height: 256px; position: absolute; left: 524px; top: 20px;"></div>
                                        <div style="width: 256px; height: 256px; position: absolute; left: 268px; top: 20px;"></div>
                                        <div style="width: 256px; height: 256px; position: absolute; left: 524px; top: -236px;"></div>
                                        <div style="width: 256px; height: 256px; position: absolute; left: 524px; top: 276px;"></div>
                                        <div style="width: 256px; height: 256px; position: absolute; left: 780px; top: 20px;"></div>
                                        <div style="width: 256px; height: 256px; position: absolute; left: 268px; top: 276px;"></div>
                                        <div style="width: 256px; height: 256px; position: absolute; left: 268px; top: -236px;"></div>
                                        <div style="width: 256px; height: 256px; position: absolute; left: 780px; top: -236px;"></div>
                                        <div style="width: 256px; height: 256px; position: absolute; left: 780px; top: 276px;"></div>
                                        <div style="width: 256px; height: 256px; position: absolute; left: 1036px; top: 20px;"></div>
                                        <div style="width: 256px; height: 256px; position: absolute; left: 12px; top: 20px;"></div>
                                        <div style="width: 256px; height: 256px; position: absolute; left: 1036px; top: 276px;"></div>
                                        <div style="width: 256px; height: 256px; position: absolute; left: 1036px; top: -236px;"></div>
                                        <div style="width: 256px; height: 256px; position: absolute; left: 12px; top: 276px;"></div>
                                        <div style="width: 256px; height: 256px; position: absolute; left: 12px; top: -236px;"></div>
                                        <div style="width: 256px; height: 256px; position: absolute; left: 1292px; top: 20px;"></div>
                                        <div style="width: 256px; height: 256px; position: absolute; left: -244px; top: 20px;"></div>
                                        <div style="width: 256px; height: 256px; position: absolute; left: -244px; top: -236px;"></div>
                                        <div style="width: 256px; height: 256px; position: absolute; left: 1292px; top: -236px;"></div>
                                        <div style="width: 256px; height: 256px; position: absolute; left: -244px; top: 276px;"></div>
                                        <div style="width: 256px; height: 256px; position: absolute; left: 1292px; top: 276px;"></div>
                                    </div>
                                </div>
                            </div>
                            <div style="position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"></div>
                            <div style="position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"></div>
                            <div style="position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;">
                                <div style="position: absolute; left: 0px; top: 0px; z-index: -1;">
                                    <div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;">
                                        <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 524px; top: 20px;"><canvas draggable="false" height="256" width="256" style="user-select: none; position: absolute; left: 0px; top: 0px; height: 256px; width: 256px;"></canvas></div>
                                        <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 268px; top: 20px;"></div>
                                        <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 524px; top: -236px;"></div>
                                        <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 524px; top: 276px;"></div>
                                        <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 780px; top: 20px;"></div>
                                        <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 268px; top: 276px;"></div>
                                        <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 268px; top: -236px;"></div>
                                        <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 780px; top: -236px;"></div>
                                        <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 780px; top: 276px;"></div>
                                        <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 1036px; top: 20px;"></div>
                                        <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 12px; top: 20px;"></div>
                                        <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 1036px; top: 276px;"></div>
                                        <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 1036px; top: -236px;"></div>
                                        <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 12px; top: 276px;"></div>
                                        <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 12px; top: -236px;"></div>
                                        <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 1292px; top: 20px;"></div>
                                        <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -244px; top: 20px;"></div>
                                        <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -244px; top: -236px;"></div>
                                        <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 1292px; top: -236px;"></div>
                                        <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -244px; top: 276px;"></div>
                                        <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 1292px; top: 276px;"></div>
                                    </div>
                                </div>
                            </div>
                            <div style="position: absolute; left: 0px; top: 0px; z-index: 0;">
                                <div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;">
                                    <div style="position: absolute; left: 524px; top: 20px; transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i17!2i77284!3i53819!4i256!2m3!1e0!2sm!3i371051987!3m14!2spt-BR!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy5lOmwudC5mfHAuczozNnxwLmM6I2ZmMDAwMDAwfHAubDo0MCxzLmU6bC50LnN8cC52Om9ufHAuYzojZmYwMDAwMDB8cC5sOjE2LHMuZTpsLml8cC52Om9mZixzLnQ6MXxzLmU6Zy5mfHAuYzojZmYwMDAwMDB8cC5sOjIwLHMudDoxfHMuZTpnLnN8cC5jOiNmZjAwMDAwMHxwLmw6MTd8cC53OjEuMixzLnQ6NXxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoyMCxzLnQ6MnxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoyMSxzLnQ6NDl8cy5lOmcuZnxwLmM6I2ZmMDAwMDAwfHAubDoxNyxzLnQ6NDl8cy5lOmcuc3xwLmM6I2ZmMDAwMDAwfHAubDoyOXxwLnc6MC4yLHMudDo1MHxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoxOCxzLnQ6NTF8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTYscy50OjR8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTkscy50OjZ8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTc!4e0&amp;token=50874"
                                            draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                                    <div style="position: absolute; left: 268px; top: 20px; transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i17!2i77283!3i53819!4i256!2m3!1e0!2sm!3i371051987!3m14!2spt-BR!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy5lOmwudC5mfHAuczozNnxwLmM6I2ZmMDAwMDAwfHAubDo0MCxzLmU6bC50LnN8cC52Om9ufHAuYzojZmYwMDAwMDB8cC5sOjE2LHMuZTpsLml8cC52Om9mZixzLnQ6MXxzLmU6Zy5mfHAuYzojZmYwMDAwMDB8cC5sOjIwLHMudDoxfHMuZTpnLnN8cC5jOiNmZjAwMDAwMHxwLmw6MTd8cC53OjEuMixzLnQ6NXxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoyMCxzLnQ6MnxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoyMSxzLnQ6NDl8cy5lOmcuZnxwLmM6I2ZmMDAwMDAwfHAubDoxNyxzLnQ6NDl8cy5lOmcuc3xwLmM6I2ZmMDAwMDAwfHAubDoyOXxwLnc6MC4yLHMudDo1MHxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoxOCxzLnQ6NTF8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTYscy50OjR8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTkscy50OjZ8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTc!4e0&amp;token=123104"
                                            draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                                    <div style="position: absolute; left: 780px; top: 20px; transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i17!2i77285!3i53819!4i256!2m3!1e0!2sm!3i371051987!3m14!2spt-BR!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy5lOmwudC5mfHAuczozNnxwLmM6I2ZmMDAwMDAwfHAubDo0MCxzLmU6bC50LnN8cC52Om9ufHAuYzojZmYwMDAwMDB8cC5sOjE2LHMuZTpsLml8cC52Om9mZixzLnQ6MXxzLmU6Zy5mfHAuYzojZmYwMDAwMDB8cC5sOjIwLHMudDoxfHMuZTpnLnN8cC5jOiNmZjAwMDAwMHxwLmw6MTd8cC53OjEuMixzLnQ6NXxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoyMCxzLnQ6MnxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoyMSxzLnQ6NDl8cy5lOmcuZnxwLmM6I2ZmMDAwMDAwfHAubDoxNyxzLnQ6NDl8cy5lOmcuc3xwLmM6I2ZmMDAwMDAwfHAubDoyOXxwLnc6MC4yLHMudDo1MHxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoxOCxzLnQ6NTF8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTYscy50OjR8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTkscy50OjZ8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTc!4e0&amp;token=109715"
                                            draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                                    <div style="position: absolute; left: 780px; top: -236px; transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i17!2i77285!3i53818!4i256!2m3!1e0!2sm!3i371051987!3m14!2spt-BR!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy5lOmwudC5mfHAuczozNnxwLmM6I2ZmMDAwMDAwfHAubDo0MCxzLmU6bC50LnN8cC52Om9ufHAuYzojZmYwMDAwMDB8cC5sOjE2LHMuZTpsLml8cC52Om9mZixzLnQ6MXxzLmU6Zy5mfHAuYzojZmYwMDAwMDB8cC5sOjIwLHMudDoxfHMuZTpnLnN8cC5jOiNmZjAwMDAwMHxwLmw6MTd8cC53OjEuMixzLnQ6NXxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoyMCxzLnQ6MnxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoyMSxzLnQ6NDl8cy5lOmcuZnxwLmM6I2ZmMDAwMDAwfHAubDoxNyxzLnQ6NDl8cy5lOmcuc3xwLmM6I2ZmMDAwMDAwfHAubDoyOXxwLnc6MC4yLHMudDo1MHxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoxOCxzLnQ6NTF8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTYscy50OjR8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTkscy50OjZ8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTc!4e0&amp;token=110605"
                                            draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                                    <div style="position: absolute; left: 524px; top: -236px; transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i17!2i77284!3i53818!4i256!2m3!1e0!2sm!3i371051987!3m14!2spt-BR!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy5lOmwudC5mfHAuczozNnxwLmM6I2ZmMDAwMDAwfHAubDo0MCxzLmU6bC50LnN8cC52Om9ufHAuYzojZmYwMDAwMDB8cC5sOjE2LHMuZTpsLml8cC52Om9mZixzLnQ6MXxzLmU6Zy5mfHAuYzojZmYwMDAwMDB8cC5sOjIwLHMudDoxfHMuZTpnLnN8cC5jOiNmZjAwMDAwMHxwLmw6MTd8cC53OjEuMixzLnQ6NXxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoyMCxzLnQ6MnxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoyMSxzLnQ6NDl8cy5lOmcuZnxwLmM6I2ZmMDAwMDAwfHAubDoxNyxzLnQ6NDl8cy5lOmcuc3xwLmM6I2ZmMDAwMDAwfHAubDoyOXxwLnc6MC4yLHMudDo1MHxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoxOCxzLnQ6NTF8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTYscy50OjR8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTkscy50OjZ8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTc!4e0&amp;token=51764"
                                            draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                                    <div style="position: absolute; left: 524px; top: 276px; transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i17!2i77284!3i53820!4i256!2m3!1e0!2sm!3i371051987!3m14!2spt-BR!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy5lOmwudC5mfHAuczozNnxwLmM6I2ZmMDAwMDAwfHAubDo0MCxzLmU6bC50LnN8cC52Om9ufHAuYzojZmYwMDAwMDB8cC5sOjE2LHMuZTpsLml8cC52Om9mZixzLnQ6MXxzLmU6Zy5mfHAuYzojZmYwMDAwMDB8cC5sOjIwLHMudDoxfHMuZTpnLnN8cC5jOiNmZjAwMDAwMHxwLmw6MTd8cC53OjEuMixzLnQ6NXxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoyMCxzLnQ6MnxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoyMSxzLnQ6NDl8cy5lOmcuZnxwLmM6I2ZmMDAwMDAwfHAubDoxNyxzLnQ6NDl8cy5lOmcuc3xwLmM6I2ZmMDAwMDAwfHAubDoyOXxwLnc6MC4yLHMudDo1MHxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoxOCxzLnQ6NTF8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTYscy50OjR8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTkscy50OjZ8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTc!4e0&amp;token=92926"
                                            draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                                    <div style="position: absolute; left: 780px; top: 276px; transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i17!2i77285!3i53820!4i256!2m3!1e0!2sm!3i371051987!3m14!2spt-BR!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy5lOmwudC5mfHAuczozNnxwLmM6I2ZmMDAwMDAwfHAubDo0MCxzLmU6bC50LnN8cC52Om9ufHAuYzojZmYwMDAwMDB8cC5sOjE2LHMuZTpsLml8cC52Om9mZixzLnQ6MXxzLmU6Zy5mfHAuYzojZmYwMDAwMDB8cC5sOjIwLHMudDoxfHMuZTpnLnN8cC5jOiNmZjAwMDAwMHxwLmw6MTd8cC53OjEuMixzLnQ6NXxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoyMCxzLnQ6MnxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoyMSxzLnQ6NDl8cy5lOmcuZnxwLmM6I2ZmMDAwMDAwfHAubDoxNyxzLnQ6NDl8cy5lOmcuc3xwLmM6I2ZmMDAwMDAwfHAubDoyOXxwLnc6MC4yLHMudDo1MHxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoxOCxzLnQ6NTF8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTYscy50OjR8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTkscy50OjZ8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTc!4e0&amp;token=20696"
                                            draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                                    <div style="position: absolute; left: 268px; top: 276px; transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i17!2i77283!3i53820!4i256!2m3!1e0!2sm!3i371051987!3m14!2spt-BR!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy5lOmwudC5mfHAuczozNnxwLmM6I2ZmMDAwMDAwfHAubDo0MCxzLmU6bC50LnN8cC52Om9ufHAuYzojZmYwMDAwMDB8cC5sOjE2LHMuZTpsLml8cC52Om9mZixzLnQ6MXxzLmU6Zy5mfHAuYzojZmYwMDAwMDB8cC5sOjIwLHMudDoxfHMuZTpnLnN8cC5jOiNmZjAwMDAwMHxwLmw6MTd8cC53OjEuMixzLnQ6NXxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoyMCxzLnQ6MnxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoyMSxzLnQ6NDl8cy5lOmcuZnxwLmM6I2ZmMDAwMDAwfHAubDoxNyxzLnQ6NDl8cy5lOmcuc3xwLmM6I2ZmMDAwMDAwfHAubDoyOXxwLnc6MC4yLHMudDo1MHxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoxOCxzLnQ6NTF8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTYscy50OjR8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTkscy50OjZ8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTc!4e0&amp;token=34085"
                                            draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                                    <div style="position: absolute; left: 12px; top: 20px; transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i17!2i77282!3i53819!4i256!2m3!1e0!2sm!3i371051987!3m14!2spt-BR!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy5lOmwudC5mfHAuczozNnxwLmM6I2ZmMDAwMDAwfHAubDo0MCxzLmU6bC50LnN8cC52Om9ufHAuYzojZmYwMDAwMDB8cC5sOjE2LHMuZTpsLml8cC52Om9mZixzLnQ6MXxzLmU6Zy5mfHAuYzojZmYwMDAwMDB8cC5sOjIwLHMudDoxfHMuZTpnLnN8cC5jOiNmZjAwMDAwMHxwLmw6MTd8cC53OjEuMixzLnQ6NXxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoyMCxzLnQ6MnxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoyMSxzLnQ6NDl8cy5lOmcuZnxwLmM6I2ZmMDAwMDAwfHAubDoxNyxzLnQ6NDl8cy5lOmcuc3xwLmM6I2ZmMDAwMDAwfHAubDoyOXxwLnc6MC4yLHMudDo1MHxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoxOCxzLnQ6NTF8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTYscy50OjR8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTkscy50OjZ8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTc!4e0&amp;token=64263"
                                            draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                                    <div style="position: absolute; left: 1036px; top: 20px; transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i17!2i77286!3i53819!4i256!2m3!1e0!2sm!3i371051411!3m14!2spt-BR!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy5lOmwudC5mfHAuczozNnxwLmM6I2ZmMDAwMDAwfHAubDo0MCxzLmU6bC50LnN8cC52Om9ufHAuYzojZmYwMDAwMDB8cC5sOjE2LHMuZTpsLml8cC52Om9mZixzLnQ6MXxzLmU6Zy5mfHAuYzojZmYwMDAwMDB8cC5sOjIwLHMudDoxfHMuZTpnLnN8cC5jOiNmZjAwMDAwMHxwLmw6MTd8cC53OjEuMixzLnQ6NXxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoyMCxzLnQ6MnxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoyMSxzLnQ6NDl8cy5lOmcuZnxwLmM6I2ZmMDAwMDAwfHAubDoxNyxzLnQ6NDl8cy5lOmcuc3xwLmM6I2ZmMDAwMDAwfHAubDoyOXxwLnc6MC4yLHMudDo1MHxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoxOCxzLnQ6NTF8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTYscy50OjR8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTkscy50OjZ8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTc!4e0&amp;token=37289"
                                            draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                                    <div style="position: absolute; left: 268px; top: -236px; transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i17!2i77283!3i53818!4i256!2m3!1e0!2sm!3i371051987!3m14!2spt-BR!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy5lOmwudC5mfHAuczozNnxwLmM6I2ZmMDAwMDAwfHAubDo0MCxzLmU6bC50LnN8cC52Om9ufHAuYzojZmYwMDAwMDB8cC5sOjE2LHMuZTpsLml8cC52Om9mZixzLnQ6MXxzLmU6Zy5mfHAuYzojZmYwMDAwMDB8cC5sOjIwLHMudDoxfHMuZTpnLnN8cC5jOiNmZjAwMDAwMHxwLmw6MTd8cC53OjEuMixzLnQ6NXxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoyMCxzLnQ6MnxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoyMSxzLnQ6NDl8cy5lOmcuZnxwLmM6I2ZmMDAwMDAwfHAubDoxNyxzLnQ6NDl8cy5lOmcuc3xwLmM6I2ZmMDAwMDAwfHAubDoyOXxwLnc6MC4yLHMudDo1MHxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoxOCxzLnQ6NTF8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTYscy50OjR8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTkscy50OjZ8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTc!4e0&amp;token=123994"
                                            draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                                    <div style="position: absolute; left: 1292px; top: 20px; transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i17!2i77287!3i53819!4i256!2m3!1e0!2sm!3i371051987!3m14!2spt-BR!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy5lOmwudC5mfHAuczozNnxwLmM6I2ZmMDAwMDAwfHAubDo0MCxzLmU6bC50LnN8cC52Om9ufHAuYzojZmYwMDAwMDB8cC5sOjE2LHMuZTpsLml8cC52Om9mZixzLnQ6MXxzLmU6Zy5mfHAuYzojZmYwMDAwMDB8cC5sOjIwLHMudDoxfHMuZTpnLnN8cC5jOiNmZjAwMDAwMHxwLmw6MTd8cC53OjEuMixzLnQ6NXxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoyMCxzLnQ6MnxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoyMSxzLnQ6NDl8cy5lOmcuZnxwLmM6I2ZmMDAwMDAwfHAubDoxNyxzLnQ6NDl8cy5lOmcuc3xwLmM6I2ZmMDAwMDAwfHAubDoyOXxwLnc6MC4yLHMudDo1MHxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoxOCxzLnQ6NTF8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTYscy50OjR8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTkscy50OjZ8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTc!4e0&amp;token=96326"
                                            draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                                    <div style="position: absolute; left: -244px; top: 20px; transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i17!2i77281!3i53819!4i256!2m3!1e0!2sm!3i371051615!3m14!2spt-BR!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy5lOmwudC5mfHAuczozNnxwLmM6I2ZmMDAwMDAwfHAubDo0MCxzLmU6bC50LnN8cC52Om9ufHAuYzojZmYwMDAwMDB8cC5sOjE2LHMuZTpsLml8cC52Om9mZixzLnQ6MXxzLmU6Zy5mfHAuYzojZmYwMDAwMDB8cC5sOjIwLHMudDoxfHMuZTpnLnN8cC5jOiNmZjAwMDAwMHxwLmw6MTd8cC53OjEuMixzLnQ6NXxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoyMCxzLnQ6MnxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoyMSxzLnQ6NDl8cy5lOmcuZnxwLmM6I2ZmMDAwMDAwfHAubDoxNyxzLnQ6NDl8cy5lOmcuc3xwLmM6I2ZmMDAwMDAwfHAubDoyOXxwLnc6MC4yLHMudDo1MHxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoxOCxzLnQ6NTF8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTYscy50OjR8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTkscy50OjZ8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTc!4e0&amp;token=89902"
                                            draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                                    <div style="position: absolute; left: 1292px; top: -236px; transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i17!2i77287!3i53818!4i256!2m3!1e0!2sm!3i371048075!3m14!2spt-BR!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy5lOmwudC5mfHAuczozNnxwLmM6I2ZmMDAwMDAwfHAubDo0MCxzLmU6bC50LnN8cC52Om9ufHAuYzojZmYwMDAwMDB8cC5sOjE2LHMuZTpsLml8cC52Om9mZixzLnQ6MXxzLmU6Zy5mfHAuYzojZmYwMDAwMDB8cC5sOjIwLHMudDoxfHMuZTpnLnN8cC5jOiNmZjAwMDAwMHxwLmw6MTd8cC53OjEuMixzLnQ6NXxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoyMCxzLnQ6MnxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoyMSxzLnQ6NDl8cy5lOmcuZnxwLmM6I2ZmMDAwMDAwfHAubDoxNyxzLnQ6NDl8cy5lOmcuc3xwLmM6I2ZmMDAwMDAwfHAubDoyOXxwLnc6MC4yLHMudDo1MHxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoxOCxzLnQ6NTF8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTYscy50OjR8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTkscy50OjZ8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTc!4e0&amp;token=18577"
                                            draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                                    <div style="position: absolute; left: 1292px; top: 276px; transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i17!2i77287!3i53820!4i256!2m3!1e0!2sm!3i371051987!3m14!2spt-BR!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy5lOmwudC5mfHAuczozNnxwLmM6I2ZmMDAwMDAwfHAubDo0MCxzLmU6bC50LnN8cC52Om9ufHAuYzojZmYwMDAwMDB8cC5sOjE2LHMuZTpsLml8cC52Om9mZixzLnQ6MXxzLmU6Zy5mfHAuYzojZmYwMDAwMDB8cC5sOjIwLHMudDoxfHMuZTpnLnN8cC5jOiNmZjAwMDAwMHxwLmw6MTd8cC53OjEuMixzLnQ6NXxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoyMCxzLnQ6MnxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoyMSxzLnQ6NDl8cy5lOmcuZnxwLmM6I2ZmMDAwMDAwfHAubDoxNyxzLnQ6NDl8cy5lOmcuc3xwLmM6I2ZmMDAwMDAwfHAubDoyOXxwLnc6MC4yLHMudDo1MHxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoxOCxzLnQ6NTF8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTYscy50OjR8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTkscy50OjZ8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTc!4e0&amp;token=7307"
                                            draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                                    <div style="position: absolute; left: 1036px; top: -236px; transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i17!2i77286!3i53818!4i256!2m3!1e0!2sm!3i371051411!3m14!2spt-BR!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy5lOmwudC5mfHAuczozNnxwLmM6I2ZmMDAwMDAwfHAubDo0MCxzLmU6bC50LnN8cC52Om9ufHAuYzojZmYwMDAwMDB8cC5sOjE2LHMuZTpsLml8cC52Om9mZixzLnQ6MXxzLmU6Zy5mfHAuYzojZmYwMDAwMDB8cC5sOjIwLHMudDoxfHMuZTpnLnN8cC5jOiNmZjAwMDAwMHxwLmw6MTd8cC53OjEuMixzLnQ6NXxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoyMCxzLnQ6MnxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoyMSxzLnQ6NDl8cy5lOmcuZnxwLmM6I2ZmMDAwMDAwfHAubDoxNyxzLnQ6NDl8cy5lOmcuc3xwLmM6I2ZmMDAwMDAwfHAubDoyOXxwLnc6MC4yLHMudDo1MHxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoxOCxzLnQ6NTF8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTYscy50OjR8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTkscy50OjZ8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTc!4e0&amp;token=38179"
                                            draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                                    <div style="position: absolute; left: 12px; top: 276px; transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i17!2i77282!3i53820!4i256!2m3!1e0!2sm!3i371052251!3m14!2spt-BR!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy5lOmwudC5mfHAuczozNnxwLmM6I2ZmMDAwMDAwfHAubDo0MCxzLmU6bC50LnN8cC52Om9ufHAuYzojZmYwMDAwMDB8cC5sOjE2LHMuZTpsLml8cC52Om9mZixzLnQ6MXxzLmU6Zy5mfHAuYzojZmYwMDAwMDB8cC5sOjIwLHMudDoxfHMuZTpnLnN8cC5jOiNmZjAwMDAwMHxwLmw6MTd8cC53OjEuMixzLnQ6NXxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoyMCxzLnQ6MnxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoyMSxzLnQ6NDl8cy5lOmcuZnxwLmM6I2ZmMDAwMDAwfHAubDoxNyxzLnQ6NDl8cy5lOmcuc3xwLmM6I2ZmMDAwMDAwfHAubDoyOXxwLnc6MC4yLHMudDo1MHxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoxOCxzLnQ6NTF8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTYscy50OjR8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTkscy50OjZ8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTc!4e0&amp;token=90742"
                                            draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                                    <div style="position: absolute; left: 12px; top: -236px; transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i17!2i77282!3i53818!4i256!2m3!1e0!2sm!3i371051279!3m14!2spt-BR!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy5lOmwudC5mfHAuczozNnxwLmM6I2ZmMDAwMDAwfHAubDo0MCxzLmU6bC50LnN8cC52Om9ufHAuYzojZmYwMDAwMDB8cC5sOjE2LHMuZTpsLml8cC52Om9mZixzLnQ6MXxzLmU6Zy5mfHAuYzojZmYwMDAwMDB8cC5sOjIwLHMudDoxfHMuZTpnLnN8cC5jOiNmZjAwMDAwMHxwLmw6MTd8cC53OjEuMixzLnQ6NXxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoyMCxzLnQ6MnxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoyMSxzLnQ6NDl8cy5lOmcuZnxwLmM6I2ZmMDAwMDAwfHAubDoxNyxzLnQ6NDl8cy5lOmcuc3xwLmM6I2ZmMDAwMDAwfHAubDoyOXxwLnc6MC4yLHMudDo1MHxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoxOCxzLnQ6NTF8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTYscy50OjR8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTkscy50OjZ8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTc!4e0&amp;token=124897"
                                            draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                                    <div style="position: absolute; left: -244px; top: 276px; transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i17!2i77281!3i53820!4i256!2m3!1e0!2sm!3i371052251!3m14!2spt-BR!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy5lOmwudC5mfHAuczozNnxwLmM6I2ZmMDAwMDAwfHAubDo0MCxzLmU6bC50LnN8cC52Om9ufHAuYzojZmYwMDAwMDB8cC5sOjE2LHMuZTpsLml8cC52Om9mZixzLnQ6MXxzLmU6Zy5mfHAuYzojZmYwMDAwMDB8cC5sOjIwLHMudDoxfHMuZTpnLnN8cC5jOiNmZjAwMDAwMHxwLmw6MTd8cC53OjEuMixzLnQ6NXxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoyMCxzLnQ6MnxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoyMSxzLnQ6NDl8cy5lOmcuZnxwLmM6I2ZmMDAwMDAwfHAubDoxNyxzLnQ6NDl8cy5lOmcuc3xwLmM6I2ZmMDAwMDAwfHAubDoyOXxwLnc6MC4yLHMudDo1MHxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoxOCxzLnQ6NTF8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTYscy50OjR8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTkscy50OjZ8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTc!4e0&amp;token=31901"
                                            draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                                    <div style="position: absolute; left: -244px; top: -236px; transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i17!2i77281!3i53818!4i256!2m3!1e0!2sm!3i371051615!3m14!2spt-BR!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy5lOmwudC5mfHAuczozNnxwLmM6I2ZmMDAwMDAwfHAubDo0MCxzLmU6bC50LnN8cC52Om9ufHAuYzojZmYwMDAwMDB8cC5sOjE2LHMuZTpsLml8cC52Om9mZixzLnQ6MXxzLmU6Zy5mfHAuYzojZmYwMDAwMDB8cC5sOjIwLHMudDoxfHMuZTpnLnN8cC5jOiNmZjAwMDAwMHxwLmw6MTd8cC53OjEuMixzLnQ6NXxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoyMCxzLnQ6MnxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoyMSxzLnQ6NDl8cy5lOmcuZnxwLmM6I2ZmMDAwMDAwfHAubDoxNyxzLnQ6NDl8cy5lOmcuc3xwLmM6I2ZmMDAwMDAwfHAubDoyOXxwLnc6MC4yLHMudDo1MHxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoxOCxzLnQ6NTF8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTYscy50OjR8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTkscy50OjZ8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTc!4e0&amp;token=90792"
                                            draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                                    <div style="position: absolute; left: 1036px; top: 276px; transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i17!2i77286!3i53820!4i256!2m3!1e0!2sm!3i371051987!3m14!2spt-BR!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy5lOmwudC5mfHAuczozNnxwLmM6I2ZmMDAwMDAwfHAubDo0MCxzLmU6bC50LnN8cC52Om9ufHAuYzojZmYwMDAwMDB8cC5sOjE2LHMuZTpsLml8cC52Om9mZixzLnQ6MXxzLmU6Zy5mfHAuYzojZmYwMDAwMDB8cC5sOjIwLHMudDoxfHMuZTpnLnN8cC5jOiNmZjAwMDAwMHxwLmw6MTd8cC53OjEuMixzLnQ6NXxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoyMCxzLnQ6MnxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoyMSxzLnQ6NDl8cy5lOmcuZnxwLmM6I2ZmMDAwMDAwfHAubDoxNyxzLnQ6NDl8cy5lOmcuc3xwLmM6I2ZmMDAwMDAwfHAubDoyOXxwLnc6MC4yLHMudDo1MHxzLmU6Z3xwLmM6I2ZmMDAwMDAwfHAubDoxOCxzLnQ6NTF8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTYscy50OjR8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTkscy50OjZ8cy5lOmd8cC5jOiNmZjAwMDAwMHxwLmw6MTc!4e0&amp;token=79537"
                                            draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                                </div>
                            </div>
                        </div>
                        <div style="position: absolute; left: 0px; top: 0px; z-index: 2; width: 100%; height: 100%;"></div>
                        <div style="position: absolute; left: 0px; top: 0px; z-index: 3; width: 100%; height: 100%;"></div>
                        <div style="position: absolute; left: 0px; top: 0px; z-index: 4; width: 100%; transform-origin: 0px 0px 0px; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <div style="position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"></div>
                            <div style="position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"></div>
                            <div style="position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;"></div>
                            <div style="position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;"></div>
                        </div>
                    </div>
                    <div style="margin-left: 5px; margin-right: 5px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;">
                        <a target="_blank" href="https://maps.google.com/maps?ll=30.609788,32.268555&amp;z=17&amp;t=m&amp;hl=pt-BR&amp;gl=US&amp;mapclient=apiv3" title="Clique para ver esta área no Google Maps" style="position: static; overflow: visible; float: none; display: inline;">
                            <div style="width: 66px; height: 26px; cursor: pointer;"></div>
                        </a>
                    </div>
                    <div style="background-color: white; padding: 15px 21px; border: 1px solid rgb(171, 171, 171); font-family: Roboto, Arial, sans-serif; color: rgb(34, 34, 34); box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; z-index: 10000002; display: none; width: 256px; height: 148px; position: absolute; left: 533px; top: 160px;">
                        <div style="padding: 0px 0px 10px; font-size: 16px;">Dados do mapa</div>
                        <div style="font-size: 13px;">Dados cartográficos ©2017 Google, ORION-ME</div>
                        <div style="width: 13px; height: 13px; overflow: hidden; position: absolute; opacity: 0.7; right: 12px; top: 12px; z-index: 10000; cursor: pointer;"></div>
                    </div>
                    <div class="gmnoprint" style="z-index: 1000001; position: absolute; right: 79px; bottom: 0px; width: 220px;">
                        <div draggable="false" class="gm-style-cc" style="user-select: none; height: 14px; line-height: 14px;">
                            <div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;">
                                <div style="width: 1px;"></div>
                                <div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div>
                            </div>
                            <div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a style="color: rgb(68, 68, 68); text-decoration: none; cursor: pointer; display: none;">Dados do mapa</a><span style="">Dados cartográficos ©2017 Google, ORION-ME</span></div>
                        </div>
                    </div>
                    <div class="gmnoscreen" style="position: absolute; right: 0px; bottom: 0px;">
                        <div style="font-family: Roboto, Arial, sans-serif; font-size: 11px; color: rgb(68, 68, 68); direction: ltr; text-align: right; background-color: rgb(245, 245, 245);">Dados cartográficos ©2017 Google, ORION-ME</div>
                    </div>
                    <div class="gmnoprint gm-style-cc" draggable="false" style="z-index: 1000001; user-select: none; height: 14px; line-height: 14px; position: absolute; right: 0px; bottom: 0px;">
                        <div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;">
                            <div style="width: 1px;"></div>
                            <div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div>
                        </div>
                        <div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a href="https://www.google.com/intl/pt-BR_US/help/terms_maps.html" target="_blank" style="text-decoration: none; cursor: pointer; color: rgb(68, 68, 68);">Termos de Uso</a></div>
                    </div>
                    <div style="cursor: pointer; display: none; margin: 10px 14px; position: absolute; top: 0px; right: 0px;"></div>
                    <div draggable="false" class="gm-style-cc" style="user-select: none; height: 14px; line-height: 14px; display: none; position: absolute; right: 0px; bottom: 0px;">
                        <div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;">
                            <div style="width: 1px;"></div>
                            <div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div>
                        </div>
                        <div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a target="_new" title="Informar erros no mapa ou nas imagens para o Google" href="https://www.google.com/maps/@30.609788,32.268555,17z/data=!10m1!1e1!12b1?source=apiv3&amp;rapsrc=apiv3" style="font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); text-decoration: none; position: relative;">Informar erro no mapa</a></div>
                    </div>
                    <div class="gmnoprint gm-bundled-control gm-bundled-control-on-bottom" draggable="false" controlwidth="28" controlheight="93" style="margin: 10px; user-select: none; position: absolute; bottom: 107px; right: 28px;">
                        <div class="gmnoprint" controlwidth="28" controlheight="55" style="position: absolute; left: 0px; top: 38px;">
                            <div draggable="false" style="user-select: none; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; border-radius: 2px; cursor: pointer; background-color: rgb(255, 255, 255); width: 28px; height: 55px;">
                                <div title="Aumentar o zoom" style="position: relative; width: 28px; height: 27px; left: 0px; top: 0px;">
                                    <div style="overflow: hidden; position: absolute; width: 15px; height: 15px; left: 7px; top: 6px;"></div>
                                </div>
                                <div style="position: relative; overflow: hidden; width: 67%; height: 1px; left: 16%; background-color: rgb(230, 230, 230); top: 0px;"></div>
                                <div title="Diminuir o zoom" style="position: relative; width: 28px; height: 27px; left: 0px; top: 0px;">
                                    <div style="overflow: hidden; position: absolute; width: 15px; height: 15px; left: 7px; top: 6px;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="gm-svpc" controlwidth="28" controlheight="28" style="background-color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; border-radius: 2px; width: 28px; height: 28px; cursor: url(&quot;https://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;) 8 8, default; position: absolute; left: 0px; top: 0px;">
                            <div style="position: absolute; left: 1px; top: 1px;"></div>
                            <div style="position: absolute; left: 1px; top: 1px;">
                                <div aria-label="Controle do Pegman no Street View" style="width: 26px; height: 26px; overflow: hidden; position: absolute; left: 0px; top: 0px;"></div>
                                <div
                                    aria-label="O Pegman está sobre o mapa" style="width: 26px; height: 26px; overflow: hidden; position: absolute; left: 0px; top: 0px; visibility: hidden;"></div>
                            <div
                                aria-label="Controle do Pegman no Street View" style="width: 26px; height: 26px; overflow: hidden; position: absolute; left: 0px; top: 0px; visibility: hidden;"></div>
                    </div>
                </div>
                <div class="gmnoprint" controlwidth="28" controlheight="0" style="display: none; position: absolute;">
                    <div title="Girar o mapa em 90 graus" style="width: 28px; height: 28px; overflow: hidden; position: absolute; border-radius: 2px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; cursor: pointer; background-color: rgb(255, 255, 255); display: none;"></div>
                    <div
                        class="gm-tilt" style="width: 28px; height: 28px; overflow: hidden; position: absolute; border-radius: 2px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; top: 0px; cursor: pointer; background-color: rgb(255, 255, 255);"></div>
            </div>
        </div>
        <div class="gmnoprint" style="margin: 10px; z-index: 0; position: absolute; cursor: pointer; left: 0px; top: 0px;">
            <div class="gm-style-mtc" style="float: left;">
                <div draggable="false" title="Mostrar mapa de ruas" style="direction: ltr; overflow: hidden; text-align: center; position: relative; color: rgb(0, 0, 0); font-family: Roboto, Arial, sans-serif; user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 8px; border-bottom-left-radius: 2px; border-top-left-radius: 2px; -webkit-background-clip: padding-box; background-clip: padding-box; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; min-width: 27px; font-weight: 500;">Mapa</div>
                <div style="background-color: white; z-index: -1; padding: 2px; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; position: absolute; left: 0px; top: 31px; text-align: left; display: none;">
                    <div draggable="false" title="Mostrar mapa de ruas com relevo" style="color: rgb(0, 0, 0); font-family: Roboto, Arial, sans-serif; user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 6px 8px 6px 6px; direction: ltr; text-align: left; white-space: nowrap;"><span role="checkbox" style="box-sizing: border-box; position: relative; line-height: 0; font-size: 0px; margin: 0px 5px 0px 0px; display: inline-block; background-color: rgb(255, 255, 255); border: 1px solid rgb(198, 198, 198); border-radius: 1px; width: 13px; height: 13px; vertical-align: middle;"><div style="position: absolute; left: 1px; top: -2px; width: 13px; height: 11px; overflow: hidden; display: none;"><img src="https://maps.gstatic.com/mapfiles/mv/imgs8.png" draggable="false" style="position: absolute; left: -52px; top: -44px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 68px; height: 67px;"></div></span>
                        <label
                            style="vertical-align: middle; cursor: pointer;">Relevo</label>
                    </div>
                </div>
            </div>
            <div class="gm-style-mtc" style="float: left;">
                <div draggable="false" title="Mostrar imagens de satélite" style="direction: ltr; overflow: hidden; text-align: center; position: relative; color: rgb(86, 86, 86); font-family: Roboto, Arial, sans-serif; user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 8px; border-bottom-right-radius: 2px; border-top-right-radius: 2px; -webkit-background-clip: padding-box; background-clip: padding-box; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; border-left: 0px; min-width: 35px;">Satélite</div>
                <div style="background-color: white; z-index: -1; padding: 2px; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; position: absolute; right: 0px; top: 31px; text-align: left; display: none;">
                    <div draggable="false" title="Mostrar imagens com nomes de rua" style="color: rgb(0, 0, 0); font-family: Roboto, Arial, sans-serif; user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 6px 8px 6px 6px; direction: ltr; text-align: left; white-space: nowrap;"><span role="checkbox" style="box-sizing: border-box; position: relative; line-height: 0; font-size: 0px; margin: 0px 5px 0px 0px; display: inline-block; background-color: rgb(255, 255, 255); border: 1px solid rgb(198, 198, 198); border-radius: 1px; width: 13px; height: 13px; vertical-align: middle;"><div style="position: absolute; left: 1px; top: -2px; width: 13px; height: 11px; overflow: hidden;"><img src="https://maps.gstatic.com/mapfiles/mv/imgs8.png" draggable="false" style="position: absolute; left: -52px; top: -44px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 68px; height: 67px;"></div></span>
                        <label
                            style="vertical-align: middle; cursor: pointer;">Marcadores</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    <!-- End Contact Section -->


    <!-- Start Footer Section -->
    <div class="footer center">
        <div class="container">
            <div class="row">
                <div class="follow-me">follow me</div>
                <div class="col-md-12 col-xs-12 links">
                    <!-- Social links -->
                    <div class="icon-wrapper center">
                        <a href="#" class="icon fb ion-social-facebook"></a>
                        <a href="#" class="icon tw ion-social-twitter"></a>
                        <a href="https://github.com/<%= @user.github %>" class="icon gh ion-social-github"></a>
                        <a href="https://plus.google.com/102466688454578137203" class="icon gp ion-social-googleplus"></a>
                        <a href="https://br.linkedin.com/in/felipe-tuyama" class="icon li ion-social-linkedin"></a>
                        <a href="#" class="icon pin ion-social-pinterest"></a>
                    </div>
                </div>
                <div class="col-md12 col-xs-12 copyright">
                    <h6>© Marqa 2016 All RightsReserved. Designed by Ahmed Beheiry</h6>
                </div>
            </div>
        </div>
    </div>

    <!-- End Footer Section -->

    <!-- Start To Top button -->
    <div class="back-to-top center">
        <i class="ion-android-navigate"></i>
    </div>
    <!-- End To Top button -->

    <!-- Start scroll percentage -->
    <div id="scroll"></div>
    <!-- End scroll percentage -->

    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/27/8/intl/pt_br/common.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/27/8/intl/pt_br/map.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/27/8/intl/pt_br/util.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/27/8/intl/pt_br/marker.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/27/8/intl/pt_br/infowindow.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/27/8/intl/pt_br/onion.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/27/8/intl/pt_br/stats.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/27/8/intl/pt_br/controls.js"></script>

    <!-- Including jQuery file -->
    <%= javascript_include_tag "jquery-1.12.1.min.js" %>
    <!-- Including jQuery.appear file -->
    <%= javascript_include_tag "jquery.appear.js" %>
    <!-- Bootstrap js file -->
    <%= javascript_include_tag "bootstrap.min.js" %>
    <!-- Bootstrap js file -->
    <%= javascript_include_tag "navbar.js" %>
    <!-- easy pie chart -->
    <%= javascript_include_tag "jquery.easypiechart.min.js" %>
    <!-- NiceScroll plugin -->
    <%= javascript_include_tag "bootstrap.min.js" %>
    <%= javascript_include_tag "jquery.nicescroll.min.js" %>
    <!-- animate numbers plugin -->
    <%= javascript_include_tag "jquery.animatenumber.min.js" %>
    <!-- Horizontal bar chart -->
    <%= javascript_include_tag "bars.js" %>
    <!-- mixitup plugin -->
    <%= javascript_include_tag "jquery.mixitup.min.js" %>
    <!-- animated background header -->
    <%= javascript_include_tag "tweenlite.min.js" %>
    <!-- magnific popup js file -->
    <%= javascript_include_tag "magnific-popup.js" %>
    <!-- form validation file -->
    <%= javascript_include_tag "validator.min.js" %>
    <!-- Owl carousel js file -->
    <%= javascript_include_tag "owl.carousel.min.js" %>
    <!-- Google Map -->
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBJOx2cEs3x3dTSubqABijclN_3uEmL7f8" %>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script> -->
    <!-- Custom file  -->
    <%= javascript_include_tag "plugins.js" %>
    <!-- Wow.js file -->
    <%= javascript_include_tag "wow.min.js" %>
    <script>
        new WOW().init();
    </script>


    <div style="text-align: center;">
        <div style="position:relative; top:0; margin-right:auto;margin-left:auto; z-index:99999">

        </div>
    </div>
    <div id="ascrail2000" class="nicescroll-rails" style="width: 10px; z-index: 9999; cursor: default; position: fixed; top: 0px; height: 100%; right: 0px; opacity: 0;">
        <div style="position: relative; top: 0px; float: right; width: 10px; height: 47px; background-color: rgb(17, 17, 17); background-clip: padding-box; border-radius: 0px;"></div>
    </div>
    <div id="ascrail2000-hr" class="nicescroll-rails" style="height: 10px; z-index: 9999; position: fixed; left: 0px; width: 100%; bottom: 0px; cursor: default; display: none; opacity: 0;">
        <div style="position: relative; top: 0px; height: 10px; width: 1366px; background-color: rgb(17, 17, 17); background-clip: padding-box; border-radius: 0px;"></div>
    </div>
    <div id="ascrail2001" class="nicescroll-rails" style="width: 10px; z-index: 9999; cursor: default; position: fixed; top: 0px; height: 100%; right: 0px; opacity: 0;">
        <div style="position: relative; top: 0px; float: right; width: 10px; height: 47px; background-color: rgb(17, 17, 17); background-clip: padding-box; border-radius: 0px;"></div>
    </div>
    <div id="ascrail2001-hr" class="nicescroll-rails" style="height: 10px; z-index: 9999; position: fixed; left: 0px; width: 100%; bottom: 0px; cursor: default; display: none; opacity: 0;">
        <div style="position: relative; top: 0px; height: 10px; width: 1366px; background-color: rgb(17, 17, 17); background-clip: padding-box; border-radius: 0px;"></div>
    </div>
</body>

</html>
