<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- Bootstrap file -->
  <%= stylesheet_link_tag 'bootstrap.min.css' %>

  <!-- Including jQuery file -->
  <%= javascript_include_tag "jquery-1.12.1.min.js" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="navbar" class="navbar-inverse navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/admin">Admin</a></li>
      <li><a href="/users">Users</a></li>
      <li><a href="/projects">Projects</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if logged_in? %>
        <li><%= link_to "#{current_user.name}", current_user %></li>
        <li><a href="/logout">Logout</a></li>
      <% else %>
        <li><a href="/login">Login</a></li>
      <% end %>
    </ul>
  </div>
<%= yield %>

</body>
</html>
