<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <!-- <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %> -->
  <!-- Bootstrap file -->
  <%= stylesheet_link_tag 'bootstrap.min.css' %>

  <!-- <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> -->
  <!-- Including jQuery file -->
  <%= javascript_include_tag "jquery-1.12.1.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
